body {
	background-image: url(background.jpg);
}

h1 {
	text-align: center;
	font-family: eskapade-fraktur, serif;
	font-weight: 600;
	font-style: normal;
	font-size: 52pt;
	color: black;
}

main {
	margin: auto;
	width: 50%;
	padding: 10px;
}

p {
	text-align: center;
	font-family: eskapade-fraktur, serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	background-color: black;
}

quote {
	font-size: 42pt;
}

person {
	font-size: 36pt;
}
